.spacer {
  flex: 1 1 auto;
}

a {
  text-decoration: none;
  color: #fff;
}

.mouseHover:hover {
  background-color: rgb(236, 145, 26);
  cursor: pointer;
  transition: all 0.7 ease-in-out;
  color: white;
}

.estilo {
  background-color: rgb(167, 67, 67);
  color: white;
}
